.container{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #f9f9f9; 
    color: black;
    scale: 1.5;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;    
    font-size: 24px;
}

.form-group label{
    text-align: start;
    margin-bottom: 5px;
    font-size: 20px;
}

.form-group  input{
    padding: 8px;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    background-color:#ccc;
}

.btn{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color:cornflowerblue;
    color: white;
    font-size: 16px;
    cursor: pointer;

    margin-bottom: 20px;
    
}
