@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body{
  background-color: #333;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.navbar{
  position: fixed;
  top: 10px;
  left: 90px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.navv{
  display: flex;
  justify-content: space-between;

  width: 90%;
}
.navbar-container{
  width: 100%;
  margin: 0 auto;
}

button{
  background-color: #938e8e;
  box-sizing: border-box;
  border-radius: 40px;
  color: white;
  padding: 5px 20px;  
}

a{
  margin: 10px;

}

.hi{
  position: fixed;
}

.main-head{
  height: 100%;
  width: 100%;
  
}

